form {
  text-align: left;
  margin-left: 10px;
  font-size: 28px;
  padding-top: 10px;
}

.searchButton:hover {
  background: #0d6efd;
  color: white;
  transition: all 500ms ease-in-out;
  border-radius: 10px;
}
.locateButton {
  padding: 0px 15px;
  border-radius: 10px;
  font-size: 28px;
  border: 3px solid #ffff;
  box-shadow: none;
  background: none;
}
.locateButton:hover {
  background: #ffff;
  transition: all 500ms ease-in-out;
  border-radius: 10px;
}
#search {
  padding: 0px 15px;
  font-size: 28px;
  border-radius: 10px;
  color: black;
  margin: 5px;
}
